/* login caret animation */
@keyframes blinkCursor {

    0% {
        border-right-color: var(--text-primary);
    }

    50% {
        border-right-color: transparent;
    }

    100% {
        border-right-color: var(--text-primary);
    }
}



/* FADE IN LEFT */
@keyframes fadeInLeft {

    from {
        opacity: 0;

        transform:
            translateX(-30px);
    }

    to {
        opacity: 1;

        transform:
            translateX(0);
    }
}


/* FADE OUT LEFT */
@keyframes fadeOutLeft {

    from {
        opacity: 1;

        transform:
            translateX(0);
    }

    to {
        opacity: 0;

        transform:
            translateX(-30px);
    }
}


/* FADE IN RIGHT */
@keyframes fadeInRight {

    from {
        opacity: 0;

        transform:
            translateX(30px);
    }

    to {
        opacity: 1;

        transform:
            translateX(0);
    }
}


/* FADE OUT RIGHT */
@keyframes fadeOutRight {

    from {
        opacity: 1;

        transform:
            translateX(0);
    }

    to {
        opacity: 0;

        transform:
            translateX(30px);
    }
}