/* login caret animation */
@keyframes blinkCursor {

    0% {
        border-right-color: var(--text-primary);
    }

    50% {
        border-right-color: transparent;
    }

    100% {
        border-right-color: var(--text-primary);
    }
}



@keyframes fadeInLeft {

    from {
        opacity: 0;
        transform: translateX(-24px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes fadeOutLeft {

    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-24px);
    }

}

@keyframes fadeInRight {

    from {
        opacity: 0;
        transform: translateX(24px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes fadeOutRight {

    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(24px);
    }

}